# PostgreSQL
POSTGRES_USER=svitsov
POSTGRES_PASSWORD=svitsov123
POSTGRES_DB=auth_db
POSTGRES_PORT=5432

# App
APP_PORT=8055
JWT_SECRET=svitsov-super-secret-key
JWT_ACCESS_TTL_MINUTES=15
JWT_REFRESH_TTL_DAYS=7

# Host ports (внешние)
HOST_APP_PORT=8055
HOST_REDIS_PORT=6367
HOST_POSTGRES_PORT=5422